<div class="card post-card">
  <div class="card-image">
    <img src={{post.heroImage}} alt={{post.title}}>
  </div>
  <div class="card-block">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
  </div>
</div>
