@import "variables";
@import "bootstrap";

body {
  background-color: $outer-color;
  color: $gray-lighter;
}

.navbar, .breadcrumb, .site-footer {
  font-family: "Helvetica";
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica";
  color: $color-secondary-1-2;
}

.top-nav {
  background-color: $navbar-color !important;
}

.flash-container {
  padding-bottom: 0px !important;
}

.navbar {
  padding: 0.5rem 0rem;
  .navbar-brand {
    font-weight: bold;
    color: $link-color;
  }
}

.container {
  background-color: $light-background-color;
  padding-bottom: 5px;
}

.breadcrumb {
  background-color: $gray-dark;
  border-radius: 0px;
  margin-left: -15px;
  margin-right: -15px;
}

.nav {
  text-transform: uppercase;
}

.nav-link {
  color: $gray !important;
}

.nav-link:hover {
  color: $gray-dark !important;
}

.navbar-brand {
  text-transform: uppercase;
}

.breadcrumb {
  text-transform: lowercase;
}

.product-header {
  h3 {
    font-weight: bold;
  }

  margin-bottom: 0.5em;
}

.product-row {
  height: 100%;
}

.product-card {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1em;
  text-align: center;
  margin-bottom: 2em;
  padding: 0.5em;
  background-color: $light-background-color;

  .card-image {
    overflow: hidden;
  }

  .card-block {
    height: 100%;
  }

  .card-text {
    min-height: 100%;
  }

  display: inline-block;

  h6 {
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    max-height: 250px;
  }

  a {
    text-decoration: none;
  }
}

.product-images {
  img {
    max-width: 100%;
    max-height: 500px;
  }

  margin-bottom: 2em;
}

.post-card {
  padding: 1em 1em 1em 0em;
  background-color: $light-background-color;

  .card-image {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
  }

  .post-title {
    h3 {
      a {
        color: $color-secondary-1-2;
        font-weight: bold;
      }
    }
    h6 {
      color: $color-secondary-1-3;
    }
    margin-bottom: 1em;
  }

  .date {
    font-size: 0.8em;
    color: $gray-dark;
  }

  img {
    width: 100%;
    overflow: hidden;
  }
}

.hm-slideshow {
  height: 100%;
  .carousel-inner {
    background-color: $gray-dark;
    img {
      margin: auto;
    }
  }
}

#product-nav {
  margin-top: 0.5em;
}

#product-details {
  padding: 1em;
}

.homepage-hero-container {
  padding: 0px;
}

#homepage-hero {
  max-height: 350px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.featured-products {
  background-color: $light-background-color;
  padding-top: 1em;
  border-left: 1px solid $gray;

  h3 {
    text-align: center;
    font-weight: bold;
  }
}

.news-feed {
  margin-top: 0.2em;

  .product-card {
    background-color: $light-background-color;
    padding: 1em 0em;
    display: block;

    img {
      max-height: 250px !important;
      max-width: 80%;
    }
  }
}

.not-found {
  text-align: center;
}

.static-page {
  h5 {
    border-bottom: 1px solid $gray;
    padding-bottom: 2px;
    text-transform: uppercase;
  }
}

.site-footer {
  padding: 1.2em;
  background-color: $gray-dark;
  color: $gray-light;
  text-align: center;
}

.single-image {
  background-color: $light-background-color;
  width: 100%;
  text-align: center;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-inner {
  background-color: $light-background-color;
}

.clickable {
  cursor: pointer;
}

.product-display-container {
  min-height: 500px;
}

.contact-section {
  margin-bottom: 2em;
}

.loading-container {
  min-height: 200px;
}
