$enable-flex: true;

$color-primary-0: #E66800;	// Main Primary color */
$color-primary-1: #FF7400;
$color-primary-2: #FF7400;
$color-primary-3: #B95400;
$color-primary-4: #893E00;

$color-secondary-1-0: #E69A00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFAA00;
$color-secondary-1-2: #FFAA00;
$color-secondary-1-3: #B97B00;
$color-secondary-1-4: #895B00;

$color-secondary-2-0: #E60000;	// Main Secondary color (2) */
$color-secondary-2-1: #FF0000;
$color-secondary-2-2: #FF0000;
$color-secondary-2-3: #B90000;
$color-secondary-2-4: #890000;

$light-background-color: #f7f7f7;

$link-color: $color-primary-1;
$breadcrumb-color: $color-secondary-2-0;

@import "variables";
@import "bootstrap";

body {
  background-color: $gray-light;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.navbar {
  background-color: white;
  .navbar-brand {
    font-weight: bold;
  }
}

.container {
  background-color: white;
  padding-bottom: 5px;
}

.breadcrumb {
  background-color: black;
}

.nav {
  text-transform: uppercase;
}

.navbar-brand {
  text-transform: uppercase;
}

.breadcrumb {
  text-transform: lowercase;
}

.product-card {
  background-color: $gray-lighter;

  .card-image {
    text-align: center;
    background-color: $gray-dark;
    overflow: hidden;
  }

  display: inline-block;

  img {
    max-height: 250px !important;
  }
}

.news-feed {
  padding-top: 2em;
}

.post-card {
  margin-bottom: 2em;
  border-bottom: 1px solid $gray-light;

  h3 {
    color: $color-primary-0;
    font-weight: bold;
  }

  .card-image {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;

    &:hover {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%);
    }
  }

  .post-title {
    text-align: center;
    h3 {
      color: $gray-dark;
    }
    margin-bottom: 2em;
  }

  .date {
    font-size: 0.8em;
    color: $gray-dark;
  }

  img {
    width: 100%;
    overflow: hidden;
  }

  .post-content {
  }
}

.hm-slideshow {
  height: 100%;
  .carousel-inner {
    background-color: $gray-dark;
    img {
      margin: auto;
    }
  }
}

#product-nav {
  margin-top: 0.5em;
}

#product-details {
  padding: 1em;
}

#homepage-hero {
  height: 400px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.not-found {
  text-align: center;
}

.static-page {
  h3 {
    border-bottom: 1px solid $gray-dark;
    color: $color-primary-3;
  }
}


