$font-family-base: "Inconsolata";

$color-primary-0: #E66800;	// Main Primary color */
$color-primary-1: #FF7400;
$color-primary-2: #FF7400;
$color-primary-3: #B95400;
$color-primary-4: #893E00;

$color-secondary-1-0: #E69A00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFAA00;
$color-secondary-1-2: #FFAA00;
$color-secondary-1-3: #B97B00;
$color-secondary-1-4: #895B00;

$color-secondary-2-0: #E60000;	// Main Secondary color (2) */
$color-secondary-2-1: #FF0000;
$color-secondary-2-2: #FF0000;
$color-secondary-2-3: #B90000;
$color-secondary-2-4: #890000;

$light-background-color: #222;

$navbar-color: #CDC9C9;

$link-color: $color-primary-1;
$breadcrumb-color: $color-secondary-2-0;
$outer-color: black;
$text-color: white;
