<div class="static-page container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Contact
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      <div class="contact-section">
        <h5>Sales</h5>
        <div>
          sales@industrialmusicelectronics.com
        </div>
      </div>

      <div class="contact-section">
        <h5>Support</h5>
        <div>
          support@industrialmusicelectronics.com
        </div>
      </div>

      <div class="contact-section">
        <a href="https://www.facebook.com/industrialmusicelectronics">
          Facebook
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="/contact.jpg" alt="contact" class="pull-sm-right" />
    </div>
  </div>
</div>

