<div class="static-page container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Contact
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      <h5>General questions</h5>
      <p>info@theharvestman.org</p>

      <h5>Technical Support and Repairs</h5>
      <p>support@theharvestman.org</p>

      <h5>System sales / Dealer inquiries</h5>
      <p>sales@theharvestman.org</p>

      <p>
        Discussion group: harvestman @ muff wiggler forum
      </p>

      <p>
        Seattle, WA USA
      </p>
    </div>
    <div class="col-sm-4">
      <img src="/contact.jpg" alt="contact" class="pull-sm-right" />
    </div>
  </div>
</div>

