<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
          News
        </li>
        {{#if model.isAuthenticated}}
          {{#link-to 'post.new' class='btn btn-success pull-xs-right'}}
            New Post
          {{/link-to}}
        {{/if}}
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      {{#each model.posts as |post|}}
        {{hm-post-display post=post}}
      {{/each}}
    </div>
  </div>
</div>
