<div id="about" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      About
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      <p>
        INDUSTRIAL MUSIC ELECTRONICS designs and manufactures odd audio performance instrumentation.
      </p>

      <h3>design specifications</h3>

      <p>no ideals</p>
      <p>no consequences</p>

      <h3>standards</h3>
      <p>
        INDUSTRIAL MUSIC ELECTRONICS synthesizer modules are compatible with Doepfer-format synthesizer modules and enclosures.
      </p>

      <p>
        Note that shrouded power connectors are NOT a part of the Euro-rack standard. Exercise full awareness when connecting your modules to the power bus (red band to -12V.)
      </p>

      <p>
        Finished devices feature photographic metal frontpanels, with printed circuit boards utilizing surface-mount components. All devices containing 8-bit microcontrollers feature firmware handwritten in assembly for maximum performance and zero procedural ambiguity in assembled code.
      </p>

      <h3>aesthetics</h3>
      <p>Where appropriate, vector geometries are derived from indigenous designs of the Four Corners area.</p>
    </div>
    <div class="col-sm-4">
      <img src="/about.jpg" alt="about" class="pull-sm-right" />
    </div>
  </div>
</div>

