<div class="static-page container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      About
    </li>
  </ol>

  <div class="row">
    <div class="col-xs-12">
      <div class="contact-section">
        <p>
          IME was founded in 2007 by Scott Jaeger (b. 1981, Redmond, WA, USA) and is the exclusive outlet for his music instrument design work. The IRON CURTAIN ELECTRONICS series is created in collaboration with Vladimir Kuzmin (b. 1953, Vladivostok, RSFSR), and consists of modular releases of his work on the famous Polivoks synthesizer and more.
        </p>
        <p>
          IME instruments are suitable for realtime low art enforcement. They provide immediate access to a musically useful way of sonic control, and they directly react to physical displacement in the form of control voltages. They don’t use narrow, menu-driven user interfaces or organ keyboards, and the arrangement of the controls is memorable. Preference is given to extreme and corrupt sonic character, but the devices are naturally able to produce most sounds due to their modular, analog/digital hybrid design.
        </p>
        <p>
          IME formerly operated as The Harvestman Digital Audio Electronics until 2015.  Products are manufactured in Portland, Oregon at Darkplace Manufacturing.
        </p>
      </div>
      <div class="contact-section">
        <p>
          <b>Scott Jaeger</b><br />
          President, Designer, Engineer<br />
          M.Mus, Northwestern University (2007), BFA, University of Michigan
        </p>
      </div>
      <div class="contact-section">
        <p>
          <b>Juliana</b><br />
          White Noise Generator, Project Manager<br />
          [[[REDACTED]]]
        </p>
      </div>
      <div class="contact-section">
        <p>
          <b>Paul</b><br />
          Operations<br />
          (b. 1975, Ballymoney, Northern Ireland)
        </p>
      </div>
      <div class="contact-section">
        <p>
          <b>Amanda</b><br />
          Administration<br />
          British citizen.
        </p>
      </div>
    </div>
  </div>
</div>
