<div class="container">
  <nav class="navbar navbar-static-top navbar-light">
    <div class="row">
      <div class="col-xs-12">
        <a class="navbar-brand" href="/">Industrial Music Electronics</a>

        <ul class="nav navbar-nav">
          <li class="nav-item">
            {{#link-to 'product' class='nav-link'}}
              Products
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'post' class='nav-link'}}
              News
            {{/link-to}}
          </li>
        </ul>

        <div class="pull-xs-right">
          <button
            type="button"
            class="navbar-toggler collapsed"
            data-toggle="collapse"
            data-target="#collapsing-navbar"
            aria-expanded="false"
            aria-controls="navbar"
            >
            &#9776;
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="collapsing-navbar" class="collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li>
              {{#link-to "product"}}
                Products
              {{/link-to}}
            </li>
            <li>
              {{#link-to "post"}}
                News
              {{/link-to}}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>
</div>
