<div class="card product-card">
  {{#link-to "product.show" product.id}}
    <div class="card-image">
      <img class="card-img-top" src={{product.images.firstObject.image.url}}>
    </div>
  {{/link-to}}
  <div class="card-block">
    <h6 class="card-title">{{product.name}}</h6>
    <p class="card-text">{{product.briefDescription}}</p>
  </div>
</div>
