<div class="card product-card">
  {{#link-to "product.show" product.id}}
    <div class="card-image">
      {{#if product.images.length}}
        <img src={{product.images.firstObject.image.url}}>
      {{else}}
        <img src="/default.png">
      {{/if}}
    </div>
  {{/link-to}}
  <div class="card-block">
    <h6 class="card-title">
      {{#link-to "product.show" product.id}}
        {{product.name}}
      {{/link-to}}
    </h6>
    <p class="card-text">{{product.briefDescription}}</p>
  </div>
</div>
