<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form {{action "authenticate" on="submit"}}>
        <div class="form-group">
          <label for="email">E-mail</label>
          {{input value=model.identification type="text" id="email" class="form-control" name="email"}}
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          {{input value=model.password type="password" id="password" class="form-control" name="password"}}
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
