<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          {{#link-to 'post'}}
            News
          {{/link-to}}
        </li>
        <li class="breadcrumb-item active">
          {{model.post.title}}
        </li>
        {{#if model.isAuthenticated}}
          {{#link-to 'post.edit' model.post.id class='btn btn-primary pull-xs-right'}}
            Edit
          {{/link-to}}
        {{/if}}
      </ol>
    </div>
  </div>

  <div class="row flex-items-xs-center">
    <div class="m-x-auto col-xs-12">
      {{hm-post-display post=model.post isAuthenticated=model.isAuthenticated}}
    </div>
  </div>
</div>
