<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">
    Products
  </li>

  {{#if model.isAuthenticated}}
    {{#link-to 'product.new' class='btn btn-success pull-xs-right'}}
      New Product
    {{/link-to}}
  {{/if}}
</ol>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      {{hm-product-tiles products=model.products}}
    </div>
  </div>
</div>
