<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">
        Products
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Products</h1>
  </div>
  <div class="col-sm-6 m-y-1">
    {{#link-to 'product.new' class='btn btn-success pull-sm-right'}}
      New Product
    {{/link-to}}
  </div>
  <div class="col-sm-12">
    {{hm-product-tiles products=model.products}}
  </div>
</div>

