{{#each groupedProducts as |group|}}
  <div class="row justify-content-center">
    {{#each group as |product|}}
      <div class="col-xs-4 hidden-sm-down" >
        {{hm-product-tile product=product}}
      </div>

      <div class="col-xs-12 hidden-md-up" >
        {{hm-product-tile product=product}}
      </div>
    {{/each}}
  </div>
{{/each}}
