<div class="row">
  <div class="col s12">
    <h5>Edit Product</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    {{hm-product-form store=model.store product=model.product action="save"}}
  </div>
</div>
